* {
  margin: 0;
  padding: 0;
}

header {
  height: 40px;
  background-color: rgb(247, 63, 185);
}

section {
  display: column;
  min-height: calc(100vh - 80px);
  background-image: url("Images/Background.jpg");
  background-size: cover;
}

.title {
  display: flex;
  color: rgb(65, 57, 57);
  font-size: 40px;
  font-family: "Nerko One", cursive;
  font-weight: 700;
}
.title > li {
  display: flex;
  padding: 50px 130px;
  list-style-type: none;
  margin: auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 50px;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6 {
  position: relative;
  background: transparent;
  width: 200px;
  height: 200px;
  font-size: 30px;
  border-style: none;
  border-bottom: 10px solid rgb(65, 57, 57);
}

.box-7,
.box-8,
.box-9 {
  position: relative;
  background: transparent;
  width: 200px;
  height: 200px;
  font-size: 30px;
  border-style: none;
}

.box-1,
.box-2,
.box-4,
.box-5,
.box-7,
.box-8 {
  border-right: 10px solid rgb(65, 57, 57);
}
.input-container-row-1,
.input-container-row-2,
.input-container-row-3 {
  display: flex;
  justify-content: center;
}

.la-player-1 {
  background-color: transparent;
}

.la-player-2 {
  background-color: transparent;
}
.la-player-1:after {
  position: absolute;
  top: 30px;
  left: 25px;
  background-image: url(Images/x-simbol.png);
  background-size: 152px;
  background-repeat: no-repeat;
  display: inherit;
  width: 172px;
  height: 172px;
  content: "";
}

.la-player-2:after {
  position: absolute;
  top: -25px;
  left: -26px;
  background-image: url(Images/o-character.png);
  background-size: 250px;
  background-repeat: no-repeat;
  display: inherit;
  width: 320px;
  height: 230px;
  content: "";
}

footer {
  height: 40px;
  background-color: rgb(247, 63, 185);
}
